@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");
:root {
  --green: #1ed760;
  --black: #121212;
  --white: #fff;
  --blue: #5b95db;
  --text-subdued: #aaa;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 4.8rem;
}
.logo i {
  color: var(--white);
  margin-right: 0.3rem;
  font-size: 2rem;
}
.logo p {
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 0.7rem;
  padding: 0.5rem;
  letter-spacing: -0.3px;
  font-weight: 700;
  margin-right: 5.7rem;
}

nav ul li {
  padding: 0 0.9rem;
}

nav ul li:last-child {
  position: relative;
  display: flex;
  align-items: center;
}
nav ul li a.active {
  color: var(--green);
}
nav ul li:last-child a::after {
  display: inline-block;
  margin-left: 4px;
  position: absolute;
  top: 50%;
  content: "<";
  transform: translateY(-50%) rotate(270deg);
  font-size: 1rem;
  line-height: 0.5rem;
  font-weight: lighter;
}
nav ul li:last-child .open::after {
  transform: rotate(90deg) translateX(-50%);
}
nav a {
  color: var(--white);
  text-decoration: none;
}

nav .links a:hover {
  color: var(--green);
}

nav .links i {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}
.options {
  display: none;
}
.options.open {
  display: block;
  cursor: pointer;
  font-weight: 700;

  position: absolute;
  width: 130px;
  padding: 0.1rem 0.8rem;
  background: white;
  margin-top: 0.8rem;
  top: 100%;
  left: -15px;
  border-radius: 3px;
  z-index: 2;
}
.options p {
  padding: 0;
  margin: 0.7rem 0;
}

nav .options p:first-child {
  color: var(--black);
}
nav .options p:last-child {
  color: var(--text-subdued);
}
nav .options p:hover {
  color: var(--green);
}

/* Hero Section */

.hero {
  position: relative;
  height: 100vh;
  background: rgb(41, 65, 171);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero #bc {
  position: absolute;
  top: 0;
  left: 0;
}
.hero .container {
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13rem;
  z-index: 1;
}
.hero .container h1 {
  font-size: 4.3rem;
  transform: scaleY(110%);
  font-weight: 800;
  margin: 0;

  letter-spacing: -4px;
}
.hero .container p {
  font-size: 0.85rem;
  letter-spacing: -0.2px;
}

.hero .container button {
  cursor: pointer;
  padding: 15px 30px;
  background-color: var(--green);
  color: rgb(41, 65, 171);
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 2px solid rgb(41, 65, 171);
}
.hero .container button:hover {
  border: 2px solid var(--green);
  font-size: 0.73rem;
}

/* Footer */
footer {
  height: 530px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
footer .row {
  margin-top: 3rem;
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .logo {
  margin-left: 0;
}
footer .social {
  font-size: 1.2rem;
  display: flex;
  margin-top: 1rem;
}
footer .social i {
  display: flex;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #222326;
  border-radius: 50%;
  margin-top: 0.8rem;
}
footer .social i:last-child {
  margin-right: 0;
}
footer ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 5.1rem;
  display: flex;
  list-style-type: none;
  font-size: 0.6rem;
  color: #919496;
}
footer ul li:first-child {
  font-weight: 700;
  margin-bottom: 0.6rem;
}
footer ul li:not(:first-child) {
  padding: 0.7rem 0;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}
